# 뉴스기사 요약해보기
## 1) 데이터 수집하기

In [2]:
# 데이터 다운로드
import pandas as pd
import urllib.request

urllib.request.urlretrieve("https://raw.githubusercontent.com/sunnysai12345/News_Summary/master/news_summary_more.csv", filename="news_summary_more.csv")
data = pd.read_csv('news_summary_more.csv', encoding='iso-8859-1')

In [3]:
# 데이터 살펴보기
data.sample(10)

,headlines,text
31034,BJP's CM candidate BS Yeddyurappa wins from Sh...,The BJP's Chief Ministerial candidate BS Yeddy...
79226,Bihar class 10 student's marks up from 0 to 94...,"A class 10 student from Bihar, who got 0 in Ma..."
7542,"Illegal goods, black money worth Ã¢ÂÂ¹111 cr ...","As of Monday, officials have reportedly seized..."
85289,Virat Kohli becomes world's number 1 ODI batsman,Virat Kohli has become the top-ranked ODI bats...
32290,Air India air hostess molested by pilot during...,An Air India air hostess was allegedly moleste...
50356,NY bar bans use of word 'literally' to stop 'K...,The New York-based Continental bar has banned ...
81602,G20 forms dangerous alliances that harm the wo...,Pope Francis has warned leaders of the world's...
3825,"Warne gave 150 runs, took only Shastri's wicke...",Former Australian leg-spinner Shane Warne was ...
21969,Thousands of cows stranded in France due to Ir...,Thousands of cows have been stranded in the Fr...
8715,Cristiano Ronaldo breaks Juventus goalscoring ...,Portuguese captain Cristiano Ronaldo on Saturd...

- 추상적 요약 : text를 본문 , headlines를 이미 요약된 데이터로 이용하여 모델학습
- 추출적 요약 : text열만 이용  
  
    
## 2) 데이터 전처리 (추상적 요약)